@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 20 20% 98%;
  --primary: 20 5% 20%;
}

body {
  @apply bg-[#FAF9F6] text-stone-800;
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}
